<!DOCTYPE html>
<html>
<head>
    <title>MealMate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-btn {
            margin-left: 10px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark px-3">
    <h2 class="navbar-brand fw-bold text-white">Food Delivery</h2>
    <div class="ms-auto">
       <a href="{% url 'delivery:cusdisplay_res' username %}" class="btn btn-secondary nav-btn">View Restaurants</a>
        <a href="{% url 'delivery:sign_in' %}" class="btn btn-secondary nav-btn">Sign In</a>
        <a href="{% url 'delivery:sign_up' %}" class="btn btn-secondary nav-btn">Sign Up</a>
    </div>
</nav>
<head>
    <title>Menu - {{ res.Res_name}}</title>
</head>
<h2>Menu for {{ res.Res_name }}</h2>
    <p>Address: {{ res.address }}</p>
    <p>Category: {{ res.Food_cat }}</p>
    <p>Rating: {{ res.rating }}</p>
    <a href="{% url 'delivery:show_cart' username %}">Show Cart</a>

    <table border="1" style="width: 100vw;">
        <tr>
            <th>Item Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Availability</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        {% for item in menu %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.description }}</td>
            <td>${{ item.price }}</td>
            <td>{% if item.is_available %}Available{% else %}Not Available{% endif %}</td>
            <td>{{ item.category }}</td>
            
            <td>
          <form
            method="POST"
            action="{% url 'delivery:add_to_cart' item.id username %}">
            {% csrf_token %}
            <button
              type="submit"
              onclick="return confirm('Are you sure you want to add to cart?')">Add to Cart
            </button>
          </form>
        </td>
        </tr>
        {% empty %}
        <tr><td colspan="6">No menu items available.</td></tr>
        {% endfor %}
    </table>
</body>
</html>
